@import '/src/vars'

.header
	position: fixed
	z-index: 2
	inset: 0
	height: 70px
	padding: 5px
	word-break: break-word

	&__container
		display: flex
		justify-content: space-between
		align-items: center
		gap: 15px
		padding-right: 0

	&__logo
		flex-shrink: 0
		display: flex
		align-items: center
		justify-content: center
		width: 60px
		height: 60px
		padding: 10px
		cursor: pointer
		transition: 0.2s ease
		background-color: $c-bg800
		@include border
		@include border-radius
		svg
			fill: $c-text

	&__list
		display: flex
		align-items: center
		justify-content: flex-end
		width: 100%
		height: 60px
		padding: 0 15px
		background-color: $c-bg800
		@include border
		@include border-radius

	&__item
		flex-grow: 0
		position: relative
		margin-left: 5px
		margin-right: 5px
		@include border-radius6
		transition: 0.2s ease
		cursor: pointer
		&:first-child
			margin-right: 5px
			&::before
				content: none
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0
		&::before
			position: absolute
			content: ''
			left: -5px
			top: 50%
			transform: translateY(-50%)
			width: 1px
			height: 50px
			background-color: $c-bg700
		&.active
			background-color: $c-bg700
			.header__icon svg
				fill: $c-text-hover

	.header-balance
		display: flex
		align-items: center
		gap: 8px
		height: 50px
		padding-right: 10px
		padding-left: 10px

		&__list
			display: flex
			flex-direction: column
			gap: 3px
			margin-left: 8px

		&__item
			position: relative
			font-size: 14px

	&__icon
		display: flex
		justify-content: center
		align-items: center
		width: 50px
		height: 50px
		svg
			fill: $c-text
		/* Active Item */

	.plus-icon
		width: 24px
		height: 24px

	&__profile
		height: 35px
		width: 35px
		overflow: hidden
		@include border-radius
		& img
			height: 100%
			object-fit: contain

@media (any-hover:hover)
	.header
		&__logo:hover
			background-color: $c-bg700
			svg
				fill: $c-text-hover

		&__item:not(:first-child):hover
			background-color: $c-bg700
			.header__icon
				svg
					fill: $c-text-hover
