@import '/src/vars'

.header
	position: fixed
	z-index: 2
	top: 0
	right: 0
	left: 0
	padding-top: 10px
	padding-bottom: 10px
	background-color: $c-background800

	&__container
		display: flex
		justify-content: space-between
		align-items: center

	&__logo
		width: 30px
		height: 30px
		cursor: pointer
		transition: 0.2s ease

	&__list
		display: flex
		align-items: center
		justify-content: space-between

	&__item
		position: relative
		margin-left: 15px
		margin-right: 15px
		@include border-radius
		transition: 0.2s ease
		&:first-child
			&::before
				content: none
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0
		&::before
			position: absolute
			content: ''
			left: -15px
			top: 50%
			transform: translateY(-50%)
			width: 1px
			height: 40px
			background-color: $c-border-active
		&.active
			background-color: $c-background600
			.header__icon svg
				stroke: $c-text-hover

	.header-balance
		display: flex
		align-items: center
		font-size: 14px
		height: 40px

		&__list
			display: flex
			flex-direction: column
			gap: 3px
			margin-left: 8px

		&__item
			position: relative
			padding-right: 17px
			font-size: 14px
			background-size: contain
			background-position: center right
			background-repeat: no-repeat
		.euro-coin
			background-image: url('/src/assets/svg/euro.svg')
		.other-coin
			background-image: url('/src/assets/svg/other-coin.svg')

	&__icon
		display: flex
		justify-content: center
		align-items: center
		width: 40px
		height: 40px
		svg
			stroke: $c-text
		/* Active Item */

	.plus-icon
		width: 24px
		height: 24px

	&__profile
		height: 40px
		width: 40px
		overflow: hidden
		@include border-radius
		& img
			height: 100%
			object-fit: contain

	&__link
		position: absolute
		content: ''
		top: 0
		right: 0
		bottom: 0
		left: 0

@media (any-hover:hover)
	.header
		&__logo:hover
			opacity: 0.5

		&__item:not(:first-child):hover
			background-color: $c-background600
			.header__icon
				svg
					stroke: $c-text-hover
