@use '../../vars'

.notifications
	user-select: none
	word-break: break-word
	&__container
		position: relative

	&__header
		display: flex
		align-items: center
		justify-content: space-between

	&__settings
		width: 40px
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		transition: 0.2s ease
		cursor: pointer
		svg
			width: 100%
			height: 100%
			fill: vars.$c-text
		.notification-settings
			transform-origin: center
		&.active
			.notification-settings-bg
				fill: vars.$c-text-hover
			.notification-settings
				fill: vars.$c-text-hover

	.checkbox
		position: absolute
		z-index: 1
		top: 62px
		right: 15px
		display: flex
		flex-direction: column
		gap: 5px
		width: 200px
		padding: 6px 8px
		background-color: vars.$c-bgpopup
		@include vars.border
		@include vars.border-radius

		&__list
			display: flex
			flex-direction: column
			gap: 5px

		&__item
			display: flex
			align-items: center
			justify-content: space-between
			width: 100%
			padding: 12px 12px
			@include vars.border-radius6
			transition: 0.2s ease
			cursor: pointer
			.wrap
				fill: vars.$c-bg800
				stroke: vars.$c-bg700
			.check
				fill: vars.$c-bg800
			&.checked
				.wrap
					fill: vars.$c-blue
					stroke: vars.$c-blue
				.check
					fill: vars.$c-text-hover
		&__line
			margin: 0
			border: 0
			border-bottom: 1px solid vars.$c-bg700

	&__list
		display: grid
		gap: 5px

@media (any-hover:hover)
	.notifications
		&__settings:hover
			svg
				fill: vars.$c-text-hover

		.checkbox
			&__item:hover
				background-color: vars.$c-bg800
