@import '/src/vars'

.footer
	position: fixed
	z-index: 2
	bottom: 0
	left: 0
	right: 0
	padding-top: 5px
	padding-bottom: 5px
	background-color: $c-background800
	&__list
		display: flex
		justify-content: center
		align-items: center
		gap: 42px

	&__item
		position: relative
		@include border-radius
		overflow: hidden
		transition: 0.2s ease
		&.active
			.footer__icon
				background-color: $c-background600
				svg
					stroke: $c-text-hover

	&__icon
		display: flex
		justify-content: center
		align-items: center
		width: 50px
		height: 50px
		& svg
			stroke: $c-text

	&__link
		position: absolute
		content: ''
		top: 0
		right: 0
		bottom: 0
		left: 0

@media (any-hover:hover)
	.footer
		&__item:hover
			background-color: $c-background600
			.footer__icon
				svg
					stroke: $c-text-hover
