/* Fonts */
//@font-face {
//	font-display: swap;
//	font-family: 'Manrope';
//	font-style: normal;
//	font-weight: 400;
//	src: url('../fonts/ManropeRegular.eot');
//	src: url('../fonts/ManropeRegular.eot?#iefix') format('embedded-opentype'),
//		url('../fonts/ManropeRegular.woff') format('woff'),
//		url('../fonts/ManropeRegular.ttf') format('truetype'),
//		url('../fonts/Manrope-Regular.woff2') format('woff2');
//}

@font-face {
	font-display: swap;
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url('/src/assets/fonts/ExoRegular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Exo';
	font-style: normal;
	font-weight: 500;
	src: url('/src/assets/fonts/ExoMedium.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Exo';
	font-style: normal;
	font-weight: 600;
	src: url('/src/assets/fonts/ExoSemiBold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	src: url('/src/assets/fonts/MulishRegular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	src: url('/src/assets/fonts/RobotoMonoMediumItalic.woff2') format('woff2');
}
