/* Fonts */
//@font-face {
//	font-display: swap;
//	font-family: 'Manrope';
//	font-style: normal;
//	font-weight: 400;
//	src: url('../fonts/ManropeRegular.eot');
//	src: url('../fonts/ManropeRegular.eot?#iefix') format('embedded-opentype'),
//		url('../fonts/ManropeRegular.woff') format('woff'),
//		url('../fonts/ManropeRegular.ttf') format('truetype'),
//		url('../fonts/Manrope-Regular.woff2') format('woff2');
//}

@font-face {
	font-display: swap;
	font-family: 'Aclonica';
	font-style: normal;
	font-weight: 400;
	src: url('/src/assets/fonts/AclonicaRegular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 400;
	src: url('/src/assets/fonts/MontserratAlternatesRegular.woff2') format('woff2');
}
