@use 'vars'

html
	display: flex
	justify-content: center

body
	width: 100%
	max-width: 500px
	font-family: vars.$f-global !important
	font-size: 16px
	line-height: 140%

	color: vars.$c-text

.section
	max-width: 500px
	padding-top: 30px
	padding-bottom: 30px
	margin-right: auto
	margin-left: auto
	background-color: vars.$c-bg900

.container
	width: 100%
	margin-top: 0
	margin-right: auto
	margin-bottom: 0
	margin-left: auto
	padding: 0 15px

.title
	font-family: vars.$f-title
	color: vars.$c-text-hover
	&--22
		font-size: 22px
		line-height: 22px
	&--18
		font-size: 18px
		line-height: 18px
	&--16
		font-size: 16px
		line-height: 16px
	&--14
		font-size: 14px
		line-height: 14px
	&--12
		font-size: 12px
		line-height: 12px

.subtitle
	font-weight: 500
	font-family: vars.$f-title
	color: vars.$c-text-hover
	&--18
		font-size: 18px
		line-height: 18px
	&--16
		font-size: 16px
		line-height: 16px

.headline
	color: vars.$c-text-disabled
	font-family: vars.$f-headline
	font-size: 12px
	line-height: 12px
	font-weight: 500

.text
	line-height: 16px
	&--14
		font-size: 14px
		line-height: 14px
	&--12
		font-size: 12px
		line-height: 12px

.tabs
	display: flex
	justify-content: center
	gap: 1px
	width: 100%
	margin-bottom: 8px

	&__item
		flex: 1
		@include vars.border
		background-color: vars.$c-bg800
		cursor: pointer
		transition: 0.2s ease
		&:first-child
			border-radius: 9px 0 0 9px
		&:last-child
			border-radius: 0 9px 9px 0
		&.active
			color: vars.$c-text-hover
			background-color: vars.$c-bg700

		.tab
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
			min-height: 44px
			padding-top: 5px
			padding-right: 5px
			padding-bottom: 5px
			padding-left: 5px
			text-align: center

.button
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	max-width: 315px
	min-height: 44px
	padding-top: 13px
	padding-right: 18px
	padding-bottom: 13px
	padding-left: 18px
	margin-right: auto
	margin-left: auto
	color: vars.$c-text-hover
	font-family: vars.$f-title
	font-size: 16px
	font-weight: 600
	line-height: 16px
	background-color: #5588CC
	// @include vars.button
	@include vars.border-radius6
	cursor: pointer
	transition: 0.2s ease

.small-button
	display: flex
	align-items: center
	justify-content: center
	flex-shrink: 0
	min-width: 70px
	max-width: 375px
	min-height: 30px
	padding-top: 6px
	padding-right: 10px
	padding-bottom: 6px
	padding-left: 10px
	color: vars.$c-text-hover
	font-family: vars.$f-title
	font-size: 16px
	font-weight: 600
	line-height: 16px
	background-color: #5588CC
	// @include vars.button
	@include vars.border-radius6
	transition: 0.2s ease
	transition: 0.2s ease
	cursor: pointer

svg
	fill: vars.$c-text
	transition: 0.2s ease

/* Modificators */
.button--disabled
	background: #4B525A
	color: vars.$c-text-disabled
	pointer-events: none

.visually--hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	overflow: hidden
	opacity: 0
	pointer-events: none

/* Margin */
.mb--22
	margin-bottom: 22px

.lh--140
	line-height: 140%

.center
	text-align: center

.pointer-none
	pointer-events: none

/* Colors */
.color--green
	color: vars.$c-green
.color--yellow
	color: vars.$c-yellow
.color--blue
	color: vars.$c-blue
.fill--red
	fill: vars.$c-red
.fill--green
	fill: vars.$c-green

/* Background SVG */
.background--game
	background-image: url('/src/assets/svg/game.svg')
.background--star
	background-image: url('/src/assets/svg/star.svg')
.background--referrals
	background-image: url('/src/assets/svg/referrals.svg')

/* Animation */
@keyframes bell
	0%
		transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
	10%
		transform: rotate(15deg)
		-webkit-transform: rotate(15deg)
	20%
		transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
	30%
		transform: rotate(-15deg)
		-webkit-transform: rotate(-15deg)
	40%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	50%
		transform: rotate(15deg)
		-webkit-transform: rotate(15deg)
	60%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	70%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	80%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	90%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	100%
		transform: rotate(0)
		-webkit-transform: rotate(0)

@keyframes plus
	0%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	50%
		transform: rotate(90deg)
		-webkit-transform: rotate(90deg)
	100%
		transform: rotate(90deg)
		-webkit-transform: rotate(90deg)

@keyframes registration1
	0%
		transform: scaleY(0)
		-webkit-transform: scaleY(0)
	50%
		transform: scaleY(1.5)
		-webkit-transform: scaleY(1.5)
	100%
		transform: scaleY(1)
		-webkit-transform: scaleY(1)
@keyframes registration2
	0%
		transform: scaleY(1)
		-webkit-transform: scaleY(1)
	50%
		transform: scaleY(0.5)
		-webkit-transform: scaleY(0.5)
	100%
		transform: scaleY(1)
		-webkit-transform: scaleY(1)
@keyframes registration3
	0%
		transform: scaleY(0)
		-webkit-transform: scaleY(0)
	50%
		transform: scaleY(1.5)
		-webkit-transform: scaleY(1.5)
	100%
		transform: scaleY(1)
		-webkit-transform: scaleY(1)
@keyframes registrationstar
	0%
		transform: translateY(-100%)
		-webkit-transform: translateY(-100%)
	100%
		transform: translateY(0)
		-webkit-transform: translateY(0)

@keyframes games
	0%
		fill: vars.$c-text
		-webkit-fill: vars.$c-text
	25%
		fill: vars.$c-text-disabled
		-webkit-fill: vars.$c-text-disabled
	50%
		fill: vars.$c-text-hover
		-webkit-fill: vars.$c-text-hover
	75%
		fill: vars.$c-text-disabled
		-webkit-fill: vars.$c-text-disabled
	100%
		fill: vars.$c-text-hover
		-webkit-fill: vars.$c-text-hover

@keyframes task1
	0%
		opacity: 0
		-webkit-opacity: 0
	100%
		opacity: 1
		-webkit-opacity: 1
@keyframes task2
	0%
		opacity: 0
		-webkit-opacity: 0
	100%
		opacity: 1
		-webkit-opacity: 1
@keyframes task3
	0%
		opacity: 0
		-webkit-opacity: 0
	100%
		opacity: 1
		-webkit-opacity: 1
@keyframes task4
	0%
		transform: translateY(100%)
		-webkit-transform: translateY(100%)
	100%
		transform: translateY(0)
		-webkit-transform: translateY(0)

@keyframes chat1
	0%
		transform: scaleX(0)
		-webkit-transform: scaleX(0)
	100%
		transform: scaleX(1)
		-webkit-transform: scaleX(1)
@keyframes chat2
	0%
		transform: scaleX(0)
		-webkit-transform: scaleX(0)
	100%
		transform: scaleX(1)
		-webkit-transform: scaleX(1)

@keyframes trash-rotate
	0%
		transform: translate(0,0) rotate(0)
		-webkit-transform: translate(0,0) rotate(0)
	50%
		transform: translate(0, -4px) rotate(180deg)
		-webkit-transform: translate(0, -4px) rotate(180deg)
	100%
		transform: translate(0,0) rotate(360deg)
		-webkit-transform: translate(0,0) rotate(360deg)

@keyframes refresh
	0%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	25%
		transform: rotate(-180deg)
		-webkit-transform: rotate(-180deg)
	50%
		transform: rotate(-360deg)
		-webkit-transform: rotate(-360deg)
	75%
		transform: rotate(-360deg)
		-webkit-transform: rotate(-360deg)
	100%
		transform: rotate(-360deg)
		-webkit-transform: rotate(-360deg)

@keyframes actions
	0%
		transform: rotateY(0)
		-webkit-transform: rotateY(0)
	10%
		transform: rotateY(180deg)
		-webkit-transform: rotateY(180deg)
	20%
		transform: rotateY(360deg)
		-webkit-transform: rotateY(360deg)
	30%
		transform: rotateY(360deg)
		-webkit-transform: rotateY(360deg)
	100%
		transform: rotateY(360deg)
		-webkit-transform: rotateY(360deg)

@keyframes message
	0%
		transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
	10%
		transform: rotate(15deg)
		-webkit-transform: rotate(15deg)
	20%
		transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
	30%
		transform: rotate(-15deg)
		-webkit-transform: rotate(-15deg)
	40%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	50%
		transform: rotate(15deg)
		-webkit-transform: rotate(15deg)
	60%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	70%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	80%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	90%
		transform: rotate(0)
		-webkit-transform: rotate(0)
	100%
		transform: rotate(0)
		-webkit-transform: rotate(0)

@keyframes sword-left
	0%
		transform: translate(0, 0) rotate(0deg)
		-webkit-transform: translate(0, 0) rotate(0deg)
	10%
		transform: translate(-3px, 5px) rotate(-25deg)
		-webkit-transform: translate(-3px, 5px) rotate(-25deg)
	20%
		transform: translate(0, 2px) rotate(0deg)
		-webkit-transform: translate(0, 2px) rotate(0deg)
	30%
		transform: translate(-3px, 5px) rotate(-25deg)
		-webkit-transform: translate(-3px, 5px) rotate(-25deg)
	40%
		transform: translate(0, 0) rotate(0deg)
		-webkit-transform: translate(0, 0) rotate(0deg)
	100%
		transform: translate(0, 0) rotate(0deg)
		-webkit-transform: translate(0, 0) rotate(0deg)
@keyframes sword-right
	0%
		transform: translate(0, 0) rotate(0deg)
		-webkit-transform: translate(0, 0) rotate(0deg)
	10%
		transform: translate(3px, 5px) rotate(25deg)
		-webkit-transform: translate(3px, 5px) rotate(25deg)
	20%
		transform: translate(0, 2px) rotate(0deg)
		-webkit-transform: translate(0, 2px) rotate(0deg)
	30%
		transform: translate(3px, 5px) rotate(25deg)
		-webkit-transform: translate(3px, 5px) rotate(25deg)
	40%
		transform: translate(0, 0) rotate(0deg)
		-webkit-transform: translate(0, 0) rotate(0deg)
	100%
		transform: translate(0, 0) rotate(0deg)
		-webkit-transform: translate(0, 0) rotate(0deg)

@keyframes tech-work-left
	0%
		transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
	100%
		transform: rotate(180deg)
		-webkit-transform: rotate(180deg)
@keyframes tech-work-right
	0%
		transform: rotate(0deg)
		-webkit-transform: rotate(0deg)
	100%
		transform: rotate(-180deg)
		-webkit-transform: rotate(-180deg)

@keyframes warning
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1

@media (any-hover:hover)
	.tabs
		&__item:hover
			background-color: vars.$c-bg700
			color: vars.$c-text-hover

	.small-button:hover
		background-color: vars.$c-blue
		color: vars.$c-text-hover

	.button:hover
		background-color: vars.$c-blue
		color: vars.$c-text-hover
