/* Global */
$c-green: #00AD48
$c-yellow: #DADA00
$c-blue: #6AAAFF

$c-bg900: #2D2D35
$c-bg800: #3D3D47
$c-bg700: #525260
$c-bg600: #3D3D47
$c-bg500: #222226

$c-text: #BCBCC5
$c-text-hover: #F1F1F3
$c-text-disabled: #848495

$f-global: 'Mulish', sans-serif
$f-title: 'Exo', sans-serif
$f-headline: 'Roboto Mono', sans-serif

/* Border Radius */
@mixin border-radius
	border-radius: 10px
@mixin border-radius6
	border-radius: 6px

/* Border */
@mixin border
	border: 1px solid $c-bg700
@mixin button
	background: linear-gradient(to bottom, #4FAEB4, #35797D)
@mixin button-hover
	background: linear-gradient(to bottom, #70BDC2, #459BA1)

// create mixin
//@mixin anyName
//	background-color: #000
//
// paste imxin
//@include anyName
